<template id="currency-converter-template">
    <!-- <link rel="stylesheet" href="/UserCard/UserCard.css"> -->
    <h3>Currency converter</h3>
    
    <label for="input-currency">Type in amount and select currency:</label>
    <div>
        <input id="input-currency" type="number" placeholder="0.00" />
        <select name="input-currency-type" id="input-currency-type">
            <option value="CAD" selected="selected">CAD</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
    </div>

    <label for="output-currency">Converted Amount:</label>
    <div>
        <input id="output-currency" type="text" placeholder="0.00" disabled="disabled"/>
        <select name="output-currency-type" id="output-currency-type">
            <option value="CAD">CAD</option>
            <option value="USD" selected="selected">USD</option>
            <option value="EUR">EUR</option>
        </select>
    </div>

    <p><a id="disclaimer">Disclaimer</a></p>
    <div id="disclaimer-addition-info" style="display:block">
        <p>Addtional Information:</p>
        <p>This is the additional Information</p>
    </div>

</template>
<script src="../../utils/utils.js"></script>
<script src="../../services/GetConversionRates.js"></script>
<script src="./CurrencyConverter.js"></script>